{% extends 'base.html' %}

{% block content %}
    <h1 class="my-4">{{ anime.title }}</h1>
    
    <div class="container anime-container">
        <div class="row">
            <div class="col-md-4 mb-3">
                {% if anime.image %}
                    <img src="{{ anime.image.url }}" class="img-fluid" alt="{{ anime.title }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <p><strong>Рік випуску:</strong> {% if anime.release_year %}{{ anime.release_year }}{% else %}Немає даних{% endif %}</p>
                <p><strong>Жанри:</strong> 
                    {% for category in anime.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        Немає даних
                    {% endfor %}
                </p>
                <p><strong>Кількість серій:</strong>{% if anime.number_of_series %}{{ anime.number_of_series}}{% else %}Не вказано{% endif %}</p>
                <p><strong>Опис:</strong> {% if anime.description %}{{ anime.description }}{% else %}Немає опису{% endif %}</p>
                <p><strong>Середній рейтинг:</strong> 
                    {% if average_rating %}
                        {{ average_rating|floatformat:2 }}
                    {% else %}
                        Оцінок ще немає
                    {% endif %}
                </p>

                <!-- Форма для оцінки -->
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="score" class="form-label">Ваша оцінка:</label>
                        <select name="score" id="score" class="form-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Відправити оцінку</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Кнопка для повернення до списку -->
    <a href="{% url 'anime_list' %}" class="btn btn-secondary mt-4">🔙 Назад до списку</a>
{% endblock %}